
body {
  background-color: #E0E0E0;
  margin: 0px;
}

#container {
  position: relative;
  width: 100%;
}

img{
  width: 100%;
}

.title {
  font-family: "Anton";
  font-size: 25px;
  margin-left: 50px;
  padding-top: 10px;
}

.info {
  font-family: "lato";
  font-size: 20px;
  margin-left: 50px;
  padding-top: 20px;
}

.item {
  position: absolute;
  text-decoration: none;
  font-family: "anton";
  color: black;
  font-size: 16px;
  padding: 5px;
  background-color: white;
  align-items: center;
}

.lived {
  position: absolute;
  text-decoration: none;
  font-family: "anton";
  color: white;
  font-size: 16px;
  padding: 5px;
  background-color: black;
  align-items: center;
}

.asia {
    top: 27%;
    left: 13%;
}

.africa {
    top: 27%;
    left: 46%;
}

.australia {
    top: 27%;
    right: 15%;
}

.europe {
    top: 78%;
    left: 13%;
}

.northa {
    top: 78%;
    left: 43%;
}

.southa {
    top: 78%;
    right: 10%;
}

.singapore{
    top: 68%;
    right: 40%;
}

.malaysia{
    top: 73%;
    right: 40.5%;
}

.hongkong {
    top: 51%;
    right: 28%;
}

.china{
    top: 20%;
    right: 50%;
}

.japan{
    top: 28%;
    right: 5%;
}

.kowloon{
    top: 57%;
    right: 37%;
}

.lantau{
    top: 70%;
    right: 75%;
}

.hkisland{
    top: 70%;
    right: 35%;
}
